:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secunadiro: #0097a7;
    --gris: #757575;
    --grisClaro: #dfe9f3;
}

/* Globales */

body {
    font-family: "Krub", sans-serif;
}